span.tag {
    background-color: #eeeeee;
    width: fit-content;
    font-size: 13px;
    font-weight: 400;
    margin-right: 5px;
    padding: 3px 8px;
    border-radius: 6px;
    font-family: "Open sans";
    text-transform: capitalize;
  
  }