div#filesContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 20px;
}
div#uploadedFilesContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  width: calc(100% - 320px);
}
div#statsContainer {
  width: 260px;
  min-width: 260px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  position: fixed;
  right: 20px;
}
h2#statsHeader {
  font-weight: 600;
  margin-bottom: 15px;
}
.uploadBtn {
  display: none;
}
div#statsContainer label {
  display: inline-block;
  background-color: #0075ff;
  text-transform: capitalize;
  text-align: center;
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  user-select: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
div#statsContainer div#statFooter {
  text-align: center;
}
div#statsContainer div#statFooter img {
  width: 22px;
  margin-right: 5px;
}
