div#container {
  background-color: #f1f5f9;
  width: calc(100% - 220px);
  min-height: 100vh;
  position: relative;
  left: 220px;
}
h1#title {
  position: relative;
  text-transform: capitalize;
  margin: 20px 20px 40px 20px;
}
h1#title::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 50px;
  background-color: white;
  left: 0px;
  bottom: -10px;
  z-index: 2;
}
h1#title::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 10%;
  background-color: black;
  left: 0px;
  bottom: -10px;
  z-index: 1;
}
