div#project {
  background-color: white;
  border-radius: 6px;
  padding: 20px;
  position: relative;
}
#projectTextContent {
  margin-top: 5px;
  margin-bottom: 30px;
  color: #888;
}
date.createdAt {
  position: absolute;
  right: 20px;
  color: #888;
}
.member {
  height: 40px;
  width: 40px;
  max-width: 40px;
  border: 2px solid white;
  border-radius: 50%;
  margin: 0px -15px 00px 0px;
  position: relative;
}
.member:hover {
  z-index: 20;
}
hr {
  height: 1px;
  background-color: #333;
}
div#tags {
  display: flex;
  justify-content: flex-end;
  margin: 10px 0px;
  border-top: 1px solid #3333;
  border-bottom: 1px solid #3333;
  padding: 10px;
}

div#projectFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
span#progressBar {
  position: relative;
  width: 50%;
  height: 8px;
  border-radius: 7px;
  background-color: #888;
  z-index: 5;
}
span#progressLevel {
  position: absolute;
  width: 50%;
  height: 8px;
  border-radius: 7px;
  background-color: peru;
  z-index: 10;
}
